node_modules/
package-lock.json
backend/node_modules/
backend/.env
.DS_Store
backend/***s3BucketMethods.js
backend/***S3Upload.js
design/main-icon.ai
design/s3Logo-large.ai
design/s3Logo-small.ai
backend/sampleTest.js
tests/__snapshots__/BucketDisplay.test.js.snap

.localstack/.localstack
.localstack/server.test.pem
.localstack/server.test.pem.crt
.localstack/server.test.pem.key
.localstack/data/recorded_api_calls.json
.localstack/data/startup_info.json
.tmp/localstack}/.localstack
.tmp/localstack}/server.test.pem
.tmp/localstack}/server.test.pem.crt
.tmp/localstack}/server.test.pem.key
.tmp/localstack}/data/recorded_api_calls.json
.tmp/localstack}/data/startup_info.json
backend/***s3BucketMethods.js
backend/***s3BucketMethods.js
frontend/src/components/style-delete/loading-bar.scss
frontend/src/components/style-delete/mixins.scss
frontend/src/components/style-delete/styles.scss
frontend/dist/index.bundle.js
frontend/dist/index.bundle.js.LICENSE.txt
frontend/dist/index.html
data/.localstack
data/server.test.pem
data/server.test.pem.crt
data/server.test.pem.key
