@keyframes slide {
  0% {
    padding-left: 0;
  }
  42%,
  50% {
    padding-left: calc(100% - 100px);
  }
  92%,
  100% {
    padding-left: 0;
  }
}

.bar-wrapper {
  position: relative;
  height: 3px;
  border-radius: 10px;
  opacity: 0.99;
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
  animation: slide 1s infinite cubic-bezier(0.29, 0.16, 0.51, 0.99);
  background-color: rgb(107, 107, 107);
}

.bar {
  position: absolute;
  background-color: $aws-blue;
  width: 100px;
  height: 30px;
  opacity: 1;
}