@import "./mixins.scss";
@import "./loading-bar.scss";
@import "./component-style/progress-bar.scss";
@import "./component-style/bucket-file-components.scss";
@import "./general-modal-style.scss";
@import "./component-style/nav-bar.scss";
@import "./component-style/error-bar.scss";
@import "./component-style/submit-button.scss";
@import "./component-style/modal-header.scss";
@import "./component-style/folder-dropdown.scss";
@import "./component-style/modal-wrapper-style.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  background-color: #232f3e;
}

html,
body,
#root {
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  @include phone {
    background-color: rgb(13, 18, 24);
  }
}

button {
  cursor: pointer;
}

.main-wrapper {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav-component {
  display: flex;
  flex-direction: column;
  & + .main-body-wrapper {
    height: 100%;
    height: calc(100% - 112px);
    padding: 0 5px;
    max-width: 1200px;
    margin: 0;
    flex: 1 1 100%;
    @include phone {
      padding: 0 50px;
    }
  }
}

.nav-component-bucket {
  flex: 1 1 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  & + .main-body-wrapper {
    height: 100%;
    max-width: 1200px;
    margin: 0;
    flex: 1 1 100%;
  }
}

.nav-component {
  flex: 1 1 112px;
  transition: flex 0.3s ease-in-out;
  @include phone {
    flex: 1 1 135px;
  }
}
.main-body-wrapper {
  height: calc(100% - 150px);
  padding: 0 5px;
  transition: all 0.3s ease-in-out;
  @include phone {
    padding: 0 50px;
    height: calc(100% - 135px);
  }
}

a {
  text-decoration-line: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
