@import "./mixins.scss";
@import "./loading-bar.scss";
@import "./component-style/progress-bar.scss";
@import "./component-style/bucket-file-components.scss";
@import "./general-modal-style.scss";
@import "./component-style/nav-bar.scss";
@import "./component-style/error-bar.scss";
@import "./component-style/submit-button.scss";
@import "./component-style/modal-header.scss";
@import "./component-style/folder-dropdown.scss";
@import "./component-style/modal-wrapper-style.scss";
@import "./demo-modal.scss";

html {
  box-sizing: border-box;
  background-color: rgb(67, 86, 110);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  background: linear-gradient(0deg, rgba(57, 75, 98, 1) 0%, rgb(30, 41, 54) 95%);
  position: fixed;
  z-index: 1;
  overflow-y: scroll;
  &::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-image: url("./diag.svg");
    background-size: 6px;
    transform: scaleX(-1);
    opacity: 0.125;
    z-index: -1;
  }
}

html,
body,
#root {
  width:100%;
  height: 100.1vh;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

button {
  cursor: pointer;
}

.main-wrapper {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav-component {
  display: flex;
  flex-direction: column;
  & + .main-body-wrapper {
    height: calc(100% - 112px);
    padding: 0 5px;
    max-width: 1200px;
    margin: 0;
    flex: 1 1 100%;
    @include tablet {
      padding: 0 50px;
      height: calc(90% - 112px);
    }
    @include desktop {
      max-width: unset;
    }
  }
}

.nav-component-bucket {
  flex: 1 1 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  & + .main-body-wrapper {
    height: calc(100% - 150px);
    max-width: 1200px;
    margin: 0;
    flex: 1 1 100%;
    @include desktop {
      max-width: unset;
    }
  }
}

.nav-component {
  flex: 1 1 112px;
  transition: flex 0.3s ease-in-out;
  @include tablet {
    flex: 1 1 135px;
  }
}
.main-body-wrapper {
  padding: 0 5px;
  transition: all 0.3s ease-in-out;
  @include tablet {
    padding: 0 50px;
    height: calc(100% - 135px);
  }
}

a {
  text-decoration-line: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
