// Media Queries
$phone: 768px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$blue-text: #475d74;
$blue-grey: #dbe3e7;
$aws-blue: rgb(55, 179, 218);
$aws-blue-darker: rgb(51, 147, 177);
$aws-blue-disabled: rgb(159, 223, 243);
$orange: rgb(224, 135, 33);
$green-disabled: #cee0d1;
$white: #fff;
$white-disabled: rgb(243, 243, 243);
$warning-red: #ff0f0f;
$warning-red-disabled: #ff0f0f;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@mixin type-reg {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-style: normal;
}

@mixin type-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-style: normal;
}

@mixin text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin tablet {
  @media only screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop}) {
    @content;
  }
}
