.warning-red {
  color: red;
  font-size: 16px;

  letter-spacing: 0.04rem;
  // margin-top: 0;

  .center-warning {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
  }
  .warning-body-wrapper {
    margin: 5px 0 10px;
    .warning-body {
      margin-top: 0;
      padding: 10px 14px;
      text-align: center;
      // background-color: rgba(255, 0, 0, 0.1);
      line-height: 1.35rem;
      border-radius: 4px;
    }
  }
}

.warning-rule {
  margin: 0;
}

.folder-path-warning {
  font-style: italic;
  color: rgb(173, 2, 2);
}

.confirm-message {
  margin: 15px 10px 20px;
  .confirm-folder {
    font-style: italic;
  }
}

.confirm-input {
  @include type-reg;
  margin: 0 auto 20px;
  font-size: 100%;
  padding: 6px 50px;
  width: fit-content;
  background-color: rgba(192, 169, 169, 0.1);
  color: rgb(143, 47, 47);
  border-radius: 3px;
  border: 1px rgb(99, 99, 99) solid;
  text-align: center;
  &:placeholder-shown {
    font-style: italic;
  }
}

// *** Delete File - Modal - Overlay *** //
.delete-confirmation {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: absolute;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 300ms cubic-bezier(.06,.65,.4,.97);
  z-index: -1;
  
  &.visible {
    z-index: 1000;
    opacity: 1;

  }
  header {
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    svg {
      height: 50px;
      width: 50px;
      color: $warning-red;
    }
    text-align: center;
    h3 {
      @include type-bold;
      margin-bottom: 10px;
      color: $blue-text;
      font-size: 1.125rem;
    }
    p {
      margin-top: 10px;
      @include type-reg;
      color: $blue-text;
      margin-bottom: 10px;
      span {
        font-style: italic;
      }
    }
    & * {
      margin: 0;
    }
  }
  .delete-modal-lower {
    display: flex;
    flex-direction: column;
     justify-content: center;
  align-items: center;
  }
}

// delete confirmation buttons
.delete-button-wrapper {
  display: flex;
  flex-direction: column;
  button {
    border: none;
    display: flex;
    align-items: center;
    background-color: $blue-grey;
    border-radius: 5px;
    &:first-child {
      margin-bottom: 10px;
    }
  }
}
.modal-delete-rule {
  width: 100%;
  margin: 10px 0;
  border: none;
  border-top: 1px solid $aws-blue;
}
