@import "./mixins.scss";
/* ***************************************** */
/* ***************** Modal ***************** */
/* ***************************************** */
.modal-overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-center {
  width: 80%;
  border-radius: 10px;
  background-color: $white;
  @include type-reg;
  font-size: 13px;
  position: relative;

  .basic-input {
    @include type-reg;
    font-size: 100%;
    padding: 6px 6px;
    width: 100%;
    background-color: #ececec;
    border-radius: 6px;
    border: 1px rgb(99, 99, 99) solid;
    text-align: center;
  }

  .modal-instructions {
    @include type-reg;
    color: $blue-text;
    font-size: 11px;
    margin: 15px 0;
    padding: 10px;
    background-color: #93bf9841;
    border-radius: 4px;
    // letter-spacing: 00.03rem;
  }

  li {
    margin-bottom: 8px;
    @include type-reg;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .bucket-submit,
  .folder-submit,

  .delete-submit {
    @include type-bold;
    font-size: 15px;
    color: $white;
    padding: 7px 20px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: $aws-blue;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:disabled {
      background-color: $aws-blue-disabled;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
  }
}

.modal-wrapper {
  padding: 0 15px 20px;
  display: flex;
  flex-direction: column;
}

.modal-close-button {
  // position: relative;
  position: absolute;
  right: 0;
  z-index: 100;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease-in-out;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.region-select-header {
  @include type-bold;
  font-size: 14px;
  color: $blue-text;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

.add-bucket-rule {
  width:100%;
  margin: 10px 0;
  border:none;
  border-top: 1px solid $aws-blue;
}

.radio-wrapper {
  margin:0 auto;
}

.region-radio-ul {
  padding: 0;
  @include type-reg;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
}

.region-radio-li {
  display: inline-flex;
  margin: 0;
  font-size: 12px;
  color: $blue-text;
  &:first-child {
    margin-top: 0;
  }
  input {
    margin: 0;
    width: 20px;
  }
  label {
    @include text-overflow-ellipsis;
    // width: 90%;
  }
}

#bucket-text-input,
#folder-text-input {
  @include type-reg;
  font-size: 100%;
  padding: 6px 6px;
  width: 100%;
  background-color: #ececec;
  border-radius: 3px;
  border: 1px rgb(99, 99, 99) solid;
  text-align: center;
}
/* ***************************************** */
/* ************* Folder Modal ************** */
/* ***************************************** */
.modal-button-group {
  display: flex;
  flex-direction: column;
}

/* ***************************************** */
/* ************** File Modal *************** */
/* ***************************************** */
.modal-header {
  display: flex;
  align-items: center;
  margin-top: 15px;
  svg {
    height: 40px;
    width: 40px;
    color: $aws-blue;
  }
  h3 {
    color: $blue-text;
    margin: 0;
    margin-left: 10px;
  }
}

.file-info-body {
  margin-left: 40px;
  margin-bottom: 20px;
  .file-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    h4 {
      color: $blue-text;
      margin: 0;
      white-space: nowrap;
      font-size: 0.7rem;
      align-self: end;
    }
    p {
      margin: 0;
      @include text-overflow-ellipsis;
    }
  }
}
.file-button-wrapper {
  display: flex;
  flex-direction: column;
  button {
    border: none;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    background-color: $blue-grey;
    border-radius: 5px;
    &:first-child {
      margin-bottom: 10px;
    }
    .button-content-wrapper {
      height: 50px;
      display: flex;
      align-items: center;
      margin: 0 auto;
      .file-icon {
        margin-right: 5px;

        svg {
          height: 100%;
          width: 100%;
          color: $aws-blue;
        }
      }
      h2 {
        @include type-bold;
        color: $blue-text;
        font-size: 0.8rem;
        margin-left: 5px;
      }
    }
  }
}
