.alert-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 200;

  .alert-bar {
    z-index: 150;
    position: relative;
    margin: 0 auto 20px;
    height: 40px;
    background-color: rgb(211, 47, 47);
    width: fit-content;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    &::before {
      content: '';
      margin:inherit;
      height: inherit;
      width: inherit;
      border-radius: inherit;
      z-index: 151;
      position: absolute;
    }
  }

  .alert-content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    .alert-left-content,
    .alert-right-content {
      display: flex;
      align-items: center;
      height: 100%;
    }
    .alert-left-content {
      margin-left: 10px;
    }
    .alert-right-content {
      justify-content: space-around;
      background: none;
      border: none;
    }
    .alert-icon {
      color: $white;
      font-size: 20px;
      margin-right: 10px;
    }
    .alert-close-icon {
      position: relative;
      z-index: 152;
      margin: 0 5px;
      color: $white;
      font-size: 25px;
    }
    p {
      margin: 0;
      color: $white;
      @include type-reg;
      font-size: 14px;
      letter-spacing: 0.01rem;
    }
  }
}
