@import "./mixins.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #343541;
}

html,
body {
  overflow-x: hidden;
}

.main-body-wrapper {
  padding: 0 5px;
  max-width: 1200px;
  margin: 0 auto;
  @include phone {
    padding: 0 50px;
  }
}

a {
  text-decoration-line: none;
}

/* ***************************************** */
/* **************** Nav Bar **************** */
/* ***************************************** */

.nav-bar {
  display: flex;
  // justify-content: space-between;
}

.logo-lg {
  flex-shrink: 0;
  width: 40%;
  // @include phone {
  //   position: relative;
  //   width: 90px;
  //   height: 42px;
  //   margin-left: 20px;
  //   z-index: 100;
  //   &::after {
  //     content: "";
  //     background-color: rgb(224, 135, 33);
  //     position: absolute;
  //     left: -20px;
  //     width: 100%;
  //     height: 100%;
  //     z-index: -10;
  //   }
  // }
  // width: 150px;
  // height: 71px;
  // border-bottom-right-radius: 30px;
}

.bucket-id-loc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  width: 60%;
}
.buckets-number {
  @include type-bold;
  color: $white;
  font-size: 20px;
  margin: 30px auto;
  text-align: center;
}

.contact-btn {
  display: none;
  @include phone {
    @include type-reg;
    color: $white;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 350ms;
    &:hover {
      opacity: 1;
    }
  }
  font-size: 15px;
  align-self: flex-start;
}

.bucket-name {
  @include type-bold;
  color: #fff;
  font-size: 17px;
  letter-spacing: 0.08rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bucket-region {
  @include type-reg;
  font-size: 10px;
  color: #fff;
  margin: 0;
}

/* ***************************************** */
/* ************** Breadcrumbs ************** */
/* ***************************************** */

.breadcrumb-ul {
  width: calc(100% - 10px);
  @include type-reg;
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

.breadcrumb-li {
  padding: 10px 0;
  &:last-child {
    padding-right: 10px;
    .breadcrumb-link {
      text-decoration: underline;
      @include type-bold;
    }
  }
}

/* ***************************************** */
/* ***************** Table ***************** */
/* ***************************************** */

.add-file-wrapper {
  cursor: pointer;
  background-color: $green;
  border-top-right-radius: 12px;
  border-top-left-radius: 4px;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .add-file {
    margin: 6px 10px;
    display: flex;
    align-items: center;
    @include type-reg;
    color: $white;
  }
  p {
    margin: 0;
    font-size: 15px;
  }
  .add-file-plus {
    margin: 0 5px;
    flex-shrink: 0;
  }
}

.bucket-display {
  margin-top: 0px;
  width: 100%;
  background-color: #52535d;
  display: flex;
  border-radius: 10px 10px 0 0;
  @include phone {
    height: 35px;
  }
}

.file-display {
  margin-top: 0;
  width: 100%;
  background-color: #52535d;
  display: flex;
  border-radius: 0 10px 0 0;
  @include phone {
    height: 35px;
  }
}

.table-head {
  h3 {
    @include type-bold;
    text-align: center;
    margin: 0;
    letter-spacing: 0.16rem;
    color: rgb(200, 200, 200);
    padding: 6px 0;
    font-size: 18px;
    @include phone {
      font-size: 18px;
      padding: 5px 0;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bucket-row {
  background-color: #fff;
  display: flex;
  width: 100%;
  margin-top: 5px;
  cursor: pointer;

  p {
    @include type-reg;
    color: #35537b;
    margin: 0;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
    letter-spacing: -0.015em;
  }
}

.bucket-table-data {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 4px 0;
}

.file-row {
  background-color: #fff;
  display: flex;
  width: 100%;
  margin-top: 2px;
  cursor: pointer;
  align-items: center;
  height: 40px;
  padding: 1px 0;
  p {
    @include type-reg;
    color: #35537b;
    margin: 0;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    letter-spacing: -0.015em;
  }
}

.icon-wrapper {
  width: 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
}
.folder-icon {
  // display: none;
  height: 28px;
  width: 28px;
  flex-shrink: 0;
}

.file-icon {
  // display: none;
  height: 28px;
  width: 20px;

  flex-shrink: 0;

  // background-color: rgb(104, 104, 173);
}

.bucket-logo {
  height: 24px;
  width: 24px;
  margin: 0 10px;
  flex-shrink: 0;
}

.name-header,
.name {
  width: 95%;
  @include phone {
    width: 50%;
  }
}

.date-header,
.date {
  display: none;
  @include phone {
    width: 30%;
  }
}

.region-header,
.region {
  display: none;
  @include phone {
    width: 20%;
  }
}

/* ***************************************** */
/* ********** File-specific table ********** */
/* ***************************************** */
.file-display {
  .name-header {
    justify-content: start;
    text-align: left;
    padding-left: 45px;
  }
}

.last-modified-header {
  display: none;
  @include phone {
    display: block;
  }
}

.size-header {
  display: none;
  @include phone {
    display: block;
  }
}

.options-header {
  display: none;
  @include phone {
    display: block;
  }
}

.file-row {
  .last-modified,
  .size {
    display: none;
    @include phone {
      display: block;
    }
  }
}

/* ***************************************** */
/* **************** Lower Bar ****************/
/* ***************************************** */

.add-bucket-bar {
  height: 35px;
  margin: 5px 0 0;
  background-color: #93bf98;
  border-radius: 2px 2px 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .bucket-cta-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  h3 {
    @include type-bold;
    margin: 0;
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
  }
  .add-bucket-plus {
    color: #fff;
    height: 22px;
    width: 22px;
  }
}

/* ***************************************** */
/* ***************** Modal ***************** */
/* ***************************************** */
.modal-overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-center {
  width: 80%;
  border-radius: 4px;
  background-color: $white;
  font-size: 13px;

  h1 {
    @include type-bold;
    font-size: 16px;
    text-align: center;
    color: $blue-text;
    margin: 18px 0;
  }
  input {
    @include type-reg;
    font-size: 100%;
    padding: 4px 6px;
    width: 100%;
    background-color: #ececec;
    border-radius: 3px;
    border: 1px rgb(88, 88, 88) solid;
  }
  ul {
    @include type-reg;
    font-size: 10px;
    margin-top: 15px 0;
    padding: 6px 0;
  }
  li {
    margin-bottom: 8px;
    &:first-child {
      margin-top: 8px;
    }
  }

  .bucket-submit {
    @include type-bold;
    font-size: 15px;
    color: $white;
    padding: 7px 20px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: $green;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:disabled {
      background-color: $green-disabled;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
  }
}

.modal-wrapper {
  padding: 0 15px 20px;
}

.modal-close-button {
  float: right;
  height: 24px;
  width: 24px;
  color:rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease-in-out;
  &:hover {
    color: rgba(0, 0, 0, 0.5)
  }
}
