@import url("https://use.typekit.net/wgv2kbv.css");

@mixin type-reg {
  font-family: pt-mono,monospace;
  font-weight: 400;
  font-style: normal;
}

@mixin type-bold {
  font-family: pt-mono,monospace;
  font-weight: 700;
  font-style: normal;
}