name: Deploy to GCP Compute Engine

on:
  pull_request:
    branches: [ main-origin ]

  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to GCP Compute Engine
    runs-on: ubuntu-latest

    steps:
    - name: Checkout S3-UI Repo
      uses: actions/checkout@v3
      
    - id: 'auth'
      name: 'Authenticate to GCP'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'
    
    - name: Setup gcloud SDK
      uses: google-github-actions/setup-gcloud@v0

    - name: Clone Repo
      run: gcloud compute ssh s3ui-instance-group-4ljm --zone=us-east4-c --command="git clone https://github.com/MisterPea/s3-ui.git"

    - name: Deploy Docker
      run: gcloud compute ssh s3ui-instance-group-4ljm --zone=us-east4-c --command="cd s3-ui && sudo docker-compose up -d"
    
    # - name: Remove previous docker files
    #   run: |
    #     # gcloud compute ssh s3ui-instance-group-vnv4 --zone=us-east4-c --command="cd s3-ui && docker-compose down"
    #     # gcloud compute ssh s3ui-instance-group-vnv4 --zone=us-east4-c --command="sudo docker rmi $(docker images -q) && sudo docker image prune -a --force"
    #     # gcloud compute ssh s3ui-instance-group-vnv4 --zone=us-east4-c --command="sudo docker image prune -a --force"
    # - name: Run docker-compose - detached
    #   # run: gcloud compute ssh s3ui-instance-group-4ljm --zone=us-east4-c --command="cd s3-ui && sudo docker-compose up -d"
    #   run: |
    #     gcloud compute ssh s3ui-instance-group-4ljm --zone=us-east4-c --command="sudo cd s3-ui && sudo docker-compose up -d"

